*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
}

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-right: 2px;
    margin-block: 12px;
    border-radius: 5px;
    font-size: 16px;
}
.input-container input[type="text"]{
    width: 71%;
}
.input-container input[type="button"]{
    background-color: #3db93d;
    color: #fff;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
}
.input-container input[type="button"]:hover{
    background-color: #52ac52;
}
ul{
    width: 100%;
    max-width: 450px;
   /*display: flex;
    justify-content: center;
    align-items: center;*/
}

ul li{
    margin-left: 12px;
    width: 420px;
    list-style: none;
    cursor: pointer;
    margin-block-end: 12px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 0.125px solid #a19f9f;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
    font-size: 16px;
}

.btn{
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}

.deleteBtn{
    color: #ff0000;
}

.editBtn{
    color: #008000;
}